<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Animations</title>
    <link rel="stylesheet" href="/assets/styles/index.css"></link>
</head>
<body>
    <canvas id="canvas1"></canvas>
    
    <script src="/scripts/weapons.js"></script>
    <script src="/scripts/blood.js"></script>
    <script src="/scripts/characterModel.js"></script>
    <script src="/scripts/characters.js"></script>
    <script src="/scripts/mobsModel.js"></script>
    <script src="/scripts/mobs.js"></script>
    <script src="/scripts/images.js"></script>
    <script src="/scripts/index.js"></script>
</body>
</html>