
#character1.hidden{
    visibility: hidden;
}
#character2.hidden{
    visibility: hidden;
}
#character3.hidden{
    visibility: hidden;
}
#character4.hidden{
    visibility: hidden;
}
#mySubmit{
    position: relative;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 165, 252);
    border: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    border-radius: 3px;
    left: 1%;
}
#mySubmit:hover{
    background-color:rgb(20, 85, 170);
}
.labelCharacter{
    position: relative;
    font-family: Verdana;
    color: rgb(255, 255, 255);
    left: 1%;
}
.inputRadio{
    position: relative;
    left: 0.5%;
}
#p1Message{
    position: relative;
    font-family: Verdana;
    font-size: large;
    color: white;
}
#pickCharacter{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0%;
    transition: max-height 0.5s ease-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.55);
    background-color: rgb(73, 73, 73);
}
#pickCharacter.shrink {
    top: -120px;
}
#showStatus {
    max-height: 0; /* Altura inicial zero para ocultar a div */
    overflow: hidden; /* Esconder conteúdo que excede a altura */
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave de altura e opacidade */
    visibility: hidden; /* Invisível inicialmente */
    opacity: 0; /* Invisível com transição */
    width: 100%;
    margin: 0 auto;
    left: 0%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.664);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.55);
    justify-content:space-evenly; /* Espaça os elementos filhos */
    align-items: center; /* space-aroundAlinha verticalmente no centro */
    gap: 59%;
}
#showStatus.active {
    max-height: 60px; /* Altura final da div quando estiver visível */
    visibility: visible; /* Visível quando ativa */
    opacity: 1; /* Visível com transição */
}

#showPlayerStatus {
    font-family: Verdana;
    font-size: large;
    color: white;
}
#showEnemyStatus {
    font-family: Verdana;
    font-size: large;
    color: white;
}
#backgroundGif {
    position: absolute; /* Fica fixo na tela */
    top: 0;
    left: 0;
    width: 100vw; /* Largura da tela */
    height: 100vh; /* Altura da tela */
    overflow: hidden; /* Oculta qualquer overflow */
    z-index: -1; /* Fica atrás do conteúdo */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo opcional para cobrir áreas não preenchidas */
}

/* Configuração da imagem dentro do contêiner do GIF */
#backgroundGif img {
    position: absolute; /* Posiciona a imagem dentro do contêiner */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para centralizar */
    width: 100%; /* Ajusta a largura para cobrir o contêiner */
    height: 100%; /* Ajusta a altura para cobrir o contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}
@media only screen and (max-width: 642px) {
    #C1img {
        transform: translate(5%, 61.6%);
        position: absolute;
        width: 150px;
        height: 250px;
        left: 0%;
    }
    #showStatus.singlePlayer {
        gap: 90%;
    }
    #healthBarContainer.singlePlayer {
        position: absolute;
        left: 23.8%;
        top: 0%;
        transform: translate(-10%, 2320%);
        width: 20%;
        height: 8px;
        border: 1px solid rgb(0, 0, 0, 0.664);
    }
    #healthBarContainer{
        position: absolute;
        left: 28%;
        top: 0%;
        transform: translate(-10%, 2320%);
        width: 20%;
        height: 8px;
        border: 1px solid rgb(0, 0, 0, 0.664);
    }
}
@media only screen and (min-width: 643px) and (max-width: 850px) {
    #C1img {
        transform: translate(20%, 57.3%);
        position: absolute;
        width: 250px;
        height: 390px;
        left: 0%;
    }
    #healthBarContainer {
        position: absolute;
        left: 23.5%;
        top: 0%;
        transform: translate(-10%, 2320%);
        width: 25%;
        height: 8px;
        border: 1px solid rgb(0, 0, 0, 0.664);
    }
}
@media only screen and (min-width: 851px) and (max-width: 1024px) {
    #C1img {
        transform: translate(20%, 56.5%);
        position: absolute;
        width: 290px;
        height: 430px;
        left: 5%;
    }
    #showStatus.singlePlayer {
        gap: 72%;
    }
    #healthBarContainer {
        position: absolute;
        left: 19.8%;
        top: 0%;
        transform: translate(-10%, 2320%);
        width: 28%;
        height: 8px;
        border: 1px solid rgb(0, 0, 0, 0.664);
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    #C1img {
        transform: translate(20%, 55.8%);
        position: absolute;
        width: 340px;
        height: 490px;
        left: 5%;
    }
    #showStatus {
        gap: 70%;
    }
    #healthBarContainer {
        position: absolute;
        left: 18.8%;
        top: 0%;
        transform: translate(-10%, 2320%);
        width: 29.2%;
        height: 8px;
        border: 1px solid rgb(0, 0, 0, 0.664);
    }
    #showStatus.singlePlayer {
        gap: 72%;
    }
}
@media only screen and (min-width: 1367px) {
    #C1img {
        transform: translate(20%, 55.5%);
        position: absolute;
        width: 350px;
        height: 510px;
        left: 10%;
        visibility: hidden;
    }
    #C1img.active {
        visibility: visible;
    }
    #C11img {
        transform: translate(20%, 55.5%);
        position: absolute;
        width: 350px;
        height: 510px;
        right: 20%;
        visibility: hidden;
    }
    #C11img.active {
        visibility: visible;
    }
    #showStatus {
        gap: 74%;
    }
    #healthBarContainer {
        position: absolute;
        left: 15.9%;
        top: 0%;
        transform: translate(-10%, 2320%);
        width: 32%;
        height: 8px;
        border: 1px solid rgb(0, 0, 0, 0.664);
    }
}
#returnBtn {
    position: relative;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 43, 43);
    border: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
    border-radius: 3px;
    left: 1%;
    transition: background-color 0.3s;
}
#returnBtn.hover-active{
    background-color: rgb(252, 100, 100);
}
#returnBtn.hover-active:hover {
  cursor: pointer;
  background-color: rgb(170, 0, 0);
}
#healthBar {
    height: 100%;
    background-color: rgb(41, 255, 155);
    position: absolute;
    z-index: 3;
    visibility: hidden;
    transition: 0.35s;
}
#bleedingHealthBar{
    height: 100%;
    background-color: rgba(255, 0, 0, 0.644);
    position: absolute;
    width: 100%;
    z-index: 2;
}
#backgroundHealth {
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
    background-color: rgba(41, 255, 155, 0.151);
    z-index: 1;
    visibility: hidden;
}
#energyBar {
    position: absolute;
    top: 150%;
    height: 100%;
    background-color: rgb(182, 94, 255);
    z-index: 2;
    visibility: hidden;
}
#backgroundEnergy {
    position: absolute;
    width: 100%;
    top: 150%;
    height: 100%;
    background-color: rgba(233, 0, 221, 0.137);
    z-index: 1;
}
#healthBarEnemy {
    height: 100%;
    background-color: rgb(41, 255, 155);
    position: absolute;
    z-index: 3;
    right: -133%;
    visibility: hidden;
    transition: 0.35s;
}
#bleedingHealthBarEnemy{
    height: 100%;
    background-color: rgba(255, 0, 0, 0.644);
    position: absolute;
    width: 100%;
    right: -133%;
    z-index: 2;
    visibility: hidden;
}
#backgroundHealthEnemy {
    position: absolute;
    width: 100%;
    right: -133%;
    height: 100%;
    background-color: rgba(41, 255, 155, 0.151);
    z-index: 1;
    visibility: hidden;
}
#energyBarEnemy {
    position: absolute;
    top: 150%;
    height: 100%;
    right: -133%;
    background-color: rgb(182, 94, 255);
    z-index: 2;
    visibility: hidden;
}
#backgroundEnergyEnemy {
    position: absolute;
    width: 100%;
    top: 150%;
    height: 100%;
    right: -133%;
    background-color: rgba(233, 0, 221, 0.137);
    z-index: 1;
    visibility: hidden;
}
#healthBar.active {
    visibility: visible;
}
#backgroundHealth.active {
    visibility: visible;
}
#energyBar.active {
    visibility: visible;
}
#backgroundEnergy.active {
    visibility: visible;
}
#healthBarEnemy.active {
    visibility: visible;
}
#bleedingHealthBarEnemy.active {
    visibility: visible;
}
#backgroundHealthEnemy.active {
    visibility: visible;
}
#energyBarEnemy.active {
    visibility: visible;
}
#backgroundEnergyEnemy.active {
    visibility: visible;
}